<mat-toolbar>
  <span>Savanna Sample Application</span>
</mat-toolbar>
<br>
<mat-radio-group class="selector-group" (change)="inputSelector()">
  <mat-radio-button
    class="CreateBarcode"
    value="CreateBarcode"
    (click)="radioButton.function = 'CreateBarcode'"
    >Create Barcode</mat-radio-button
  >
  <mat-radio-button
    class="FDARecall"
    value="FDARecall"
    (click)="radioButton.function = 'FDARecall'"
    >FDARecall</mat-radio-button
  >
  <mat-radio-button
    class="UPCLookup"
    value="UPCLookup"
    (click)="radioButton.function = 'UPCLookup'"
    >UPC Lookup</mat-radio-button
  >
</mat-radio-group>
<div>
  <div id="createBarcodeOptions">
    <mat-form-field appearance="standard">
      <mat-label>Symbology</mat-label>
      <input matInput placeholder="code39"
      #symbology (change)="setSymbology(symbology.value)"/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Text</mat-label>
      <input matInput placeholder="Hello-World"
      #text (change)="setText(text.value)"/>
    </mat-form-field>
    <mat-form-field id="createBarcodeScale" appearance="standard">
      <mat-label>Scale</mat-label>
      <input
        matInput
        placeholder="1"
        [(ngModel)]="createBarcodeScale"
        (change)="disableScales()"
        [disabled]="createBarcodeDisabled === 'Scale'"
        #scale (change)="setScale(scale.value)"
      />
    </mat-form-field>
    <mat-form-field id="createBarcodeScaleX" appearance="standard">
      <mat-label>ScaleX</mat-label>
      <input
        matInput
        placeholder="1"
        [(ngModel)]="createBarcodeScaleX"
        (change)="disableScales()"
        [disabled]="createBarcodeDisabled === 'XY'"
        #scaleX (change)="setScaleX(scaleX.value)"
      />
    </mat-form-field>
    <mat-form-field id="createBarcodeScaleY" appearance="standard">
      <mat-label>ScaleY</mat-label>
      <input
        matInput
        placeholder="1"
        [(ngModel)]="createBarcodeScaleY"
        (change)="disableScales()"
        [disabled]="createBarcodeDisabled === 'XY'"
        #scaleY (change)="setScaleY(scaleY.value)"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Rotation</mat-label>
      <input matInput placeholder="N"
      #rotation (change)="setRotation(rotation.value)"/>
    </mat-form-field>
    <mat-checkbox
      class="includeText"
      value=""
      (click)="setIncludeText()"
      >Include Text</mat-checkbox
    >
  </div>
  <div id="fdaRecallOptions">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Device" />
    </mat-form-field>
    <mat-button-toggle-group #function="matButtonToggleGroup">
      <mat-button-toggle
      class="upc"
      value="upc"
      (change)="setFdaRecallFunction($event.value)">
        UPC
      </mat-button-toggle>
      <mat-button-toggle
      class="search"
      value="search"
      (change)="setFdaRecallFunction($event.value)">
        Search
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group #type="matButtonToggleGroup">
      <mat-button-toggle
      class="device"
      value="device"
      (change)="setFdaRecallType($event.value)">
        Device
      </mat-button-toggle>
      <mat-button-toggle
      class="drug"
      value="drug"
      (change)="setFdaRecallType($event.value)">
        Drug
      </mat-button-toggle>
      <mat-button-toggle
      class="food"
      value="food"
      (change)="setFdaRecallType($event.value)">
        Food
      </mat-button-toggle>
    </mat-button-toggle-group>





  </div>
  <div id="upcLookupOptions">
    <mat-form-field appearance="standard">
      <mat-label>UPC</mat-label>
      <input matInput placeholder="9781483922973" />
    </mat-form-field>
  </div>
</div>
<div id="go">
<button mat-flat-button
(click)="runProgram()"
color="primary"
>Go</button>
</div>
