<mat-radio-group class="selector-group" (change)="inputSelector()">
  <mat-radio-button class="CreateBarcode" value="CreateBarcode" (click)="radioButton.function='CreateBarcode'">Create Barcode</mat-radio-button>
  <mat-radio-button class="FDARecall" value="FDARecall" (click)="radioButton.function='FDARecall'">FDARecall</mat-radio-button>
  <mat-radio-button class="UPCLookup" value="UPCLookup" (click)="radioButton.function='UPCLookup'">UPC Lookup</mat-radio-button>
</mat-radio-group>

<div id="options"></div>

